:root{
  --primary: rgb(0, 0, 149);
  --border: rgb(37, 37, 37);
}

/* NOTE show borders * {
  outline: 2px rgba(255, 0, 0, 0.435) dashed;
} */

@media (max-width: 750px) {
}

body{
  margin: 0;
}
header{
  font-size: 30px;
  width: 100%;
  color: aliceblue;
  align-content: center;
  border-color: var(--border);
  background: var(--primary);
  padding-top: 1em;
  justify-content: end;
}

footer{
  font-size: 30px;
  width: 100%;
  height: 4em;
  color: aliceblue;
  align-content: center;
  border-color: var(--border);
  background: var(--primary);
  padding-top: 1em;
  justify-content: end;
}

main{
  padding-top: 4em;
}

img{
  width: 150px;
  height: 200px
}

main div:first-child{
  max-width: 60%;
  text-align: left;
}


main div:last-child{
  min-width: 40%;
  padding-top: 2em;
  text-align: left;
}

.body-align p{
  padding-left: 1em;
}

.body-align{
  padding-left: 30vw;
}

.sidebar-align{
  padding-left: 4em;
}

#content-bar{
  height: 15px;
  max-width: 100%;
  background: rgb(134, 134, 255);
}


.d-flex{
  display: flex
}

.justify-content-center{
  justify-content: center;
}